{% macro PayWithRedirectionOption(
  paymentPk=None,
  paymentName='Redirection',
  formClass='checkout-pay-with-redirection js-pay-with-redirection-form',
  title=_('Pay With {0}').format(paymentName),
  descriptions=[
    _('You can quickly and easily pay and complete your order with {0}.').format(paymentName),
  ],
  submitText=_('Pay With {0}').format(paymentName),
  agreementText=_('Check here to indicate that you have read and agree to the all terms.'),
  service='Checkout',
  action='completeRedirectionPayment'
) %}
  {% if caller %}
    {{ caller() }}
  {% elif paymentPk %}
    <pz-form class="{{ formClass }}" data-pk="{{ paymentPk }}" service="{{ service }}" action="{{ action }}">
      <div class="checkout-payment-type__head">
        <span class="checkout-payment-type__head-title">
          {{ title }}
        </span>
      </div>

      <div class="checkout-payment-type__content">
        <div class="checkout-payment-type__description">
          {% for description in descriptions %}
            <p class="checkout-payment-type__description-row">
              {{ description }}
            </p>
          {% endfor %}
        </div>
      </div>

      <div class="checkout-pay-with-redirection__complete">
        <div class="checkout-pay-with-redirection__complete-wrapper">
          <div class="checkout-payment-complete-agreement -no-b-gap -inline">
            <label class="checkout-payment-complete-agreement__label">
              <pz-checkbox
                class="checkout-payment-complete-agreement__input js-pay-with-redirection-agreement-input"
                name="agreement"
                v-required>
              </pz-checkbox>
  
              <span class="checkout-payment-complete-agreement__label-text">
                {{ agreementText }}
              </span>
            </label>
  
            <div class="checkout-error js-pay-with-redirection-agreement-error" hidden></div>
          </div>
  
          <pz-button
            class="checkout__submit js-pay-with-redirection-complete-button"
            icon="chevron-end"
            icon-position="right"
            type="submit">
            {{ submitText }}
          </pz-button>
        </div>
  
        <div class="checkout-payment-complete-errors js-pay-with-redirection-form-errors" hidden></div>
      </div>
    </pz-form>
  {% endif %}
{% endmacro %}
