.checkout-pay-with-redirection {
  @apply flex flex-col w-full;

  &__complete {
    @apply px-4;
    @apply sm:px-6;

    &-wrapper {
      @apply flex items-start flex-col border-t border-gray-400 py-4 space-y-4;
      @apply sm:flex-row sm:items-center sm:space-s-6 sm:space-y-0;

      > * {
        @apply w-full;
        @apply sm:w-1/2;
      }
    }
  }
}

.checkout-payment-redirection-iframe-wrapper {
  width: 100%;
  position: relative;

  iframe {
    width: 100%;
    height: 100%;
    border: none;
    background-color: white;
  }

  &-close-button {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1001;
  }
}
